language: node_js

node_js:
  - "4"
  - "6"
  
env:
 - CXX=g++-4.8
 
addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test
  packages:
   - g++-4.8
   
install:
  - npm install
  - npm install mocha-junit-reporter --save-dev

    # Install the testspace Client
  - mkdir -p $HOME/bin  # already added to "Travis Path Variable" by default, even though the dir does not exist
  - curl -s https://testspace-client.s3.amazonaws.com/testspace-linux-dev.tgz | tar -zxvf- -C $HOME/bin
  - testspace config url ${TESTSPACE_ACCESS_TOKEN}:@rjhowell44.testspace.com

after_script:  
    # matrix build. push files for each node version into a unique folder eg. "/Node-6/Metrics/heap-metrics.html" 
  - testspace [Node-$TRAVIS_NODE_VERSION/Metrics]$HOME/bin/heap-metrics.html{$HOME/bin/heap-metrics.csv}
